@charset "UTF-8";

@media (max-width: 1000px) {
    .cuidados {
        padding: 30px 10px;
    }
    
    .img-cuidados {
        width: 350px;
    }
}

@media (max-width: 840px) {
    /* ANTES E DEPOIS */
    .antes-depois > p {
        padding: 0 0 20px;
    }

    .antes-depois > div > img {
        max-width: 280px;
    }

    /* FORMULÁRIO */
    .img-form{
        display: none;
    }
}

@media (max-width: 800px) {
    .div-cuidados {
        padding: 45px 5px 10px;
    }

    .img-cuidados {
        display: none;
    }
}

@media (max-width: 550px) {
    .p-cuidados{
        padding: 0;
    }

    /* CALCULAR CEP */
    .container-cep > .div-cep {
        width: 270px;
        height: 100px;
    }

    .container-cep > p {
        font-size: 14px;
    }

    .div-cep > p {
        font-size: 12px;
        padding: 0;
    }

    .calc-cep > fieldset {
        width: 20%;
        margin: 5px;
    }

    .calc-cep > fieldset > input {
        width: 140px;
    }

    /* RODAPÉ */
    footer {
        display: flex;
        flex-direction: column;
        font-size: 11px;
    }

    footer > img{
        padding: 0 0 10px;
        width: 110px;
    }
}
