@charset "UTF-8";

@media (max-width: 840px) {
    /* ANTES E DEPOIS */
    .antes-depois > p {
        padding: 0 0 20px;
    }

    .antes-depois > div > img {
        max-width: 280px;
    }

    /* FORMULÁRIO */
    .img-form{
        display: none;
    }
}

@media (max-width: 550px) {

    /* RODAPÉ */
    footer {
        display: flex;
        flex-direction: column;
        font-size: 11px;
    }

    footer > img{
        padding: 0 0 10px;
        width: 110px;
    }
}
