@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --yellow: #FBE80E; /* Adiciona uma variável (nome) para a cor */
    --green: #55AA00;
    --light-green: #72D60F;
}

* {
    padding: 0; /* Deixa o código inteiro com espaçamento de 0px */
    margin: 0; /* Deixa o código inteiro com margem de 0px */
    font-family: "Inter", sans-serif;
}

/* CALCULAR CEP */
.container-cep {
    background-color: #D2FFA6;
    border-radius: 25px;
    height: 370px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-cep > p {
    color: var(--light-green);
    font-weight: 700;
    text-decoration: underline;
}

.container-cep > .div-cep {
    background-color: white;
    box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.342);
    border-radius: 25px;
    width: 450px;
    height: 130px;
    padding: 25px;
    margin: 40px;
}

.div-cep > p {
    color: #6A6A6A;
    font-size: 14px;
    padding: 18px;
    text-align: left;
}

.calc-cep {
    display: flex;
    align-items: center;
}

.calc-cep > fieldset {
    width: 70%;
    height: 50px;
    text-align: left;
}

.calc-cep > .btn-cep {
    background-color: var(--light-green);
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.418);
    font-weight: bolder;
    border-radius: 10px;
    margin-top: 5px;
    width: 90px;
    height: 40px;
}

.btn-cep:hover {
    background-color: var(--green);
}

/* ANTES E DEPOIS */
.antes-depois {
    margin: 70px;
}

.antes-depois > p {
    color: var(--light-green);
    font-size: 20px;
    font-weight: 700;
    padding: 0 90px 30px;
}

.antes-depois > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.antes-depois > div > img{
    max-width: 450px;
    padding: 10px;
}


/* FORMULÁRIO */
.img-form{
    max-width: 481px;
}

.img-form > img{
    max-width: 100%;
}

.form-container {
    max-width: 100%; /* Tamanho horizontal */
    height: 590px; /* Tamanho vertizal */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.form-div {
    background-color: var(--yellow);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: white;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.24);
    width: 270px;
    height: 370px;
    border-radius: 15px;
    padding: 15px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > p {
    font-weight: 800;
}

fieldset {
    font-size: 11px;
    width: 60px;
    padding: 0 6px 0 15px;
    margin: 10px;

    border: solid 1.5px #ccc;
    border-radius: 10px;
}

input {
    font-size: 10px;
    width: 200px;
    border: 0;
    padding: 10px;
}

#msg {
    padding-bottom: 100px;    
}

#form-btn {
    background-color: var(--light-green);
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.418);
    padding: 5px;
    margin-top: 20px;
    width: 150px;
    border-radius: 5px;
}

#form-btn:hover {
    background-color: var(--green);
}



/* RODAPÉ */
footer { 
    font-family: "Inter", sans-serif; /* Estilo da Fonte */
    font-size: 13px; /* Define o tamanho da fonte */
    bottom: 0; /* Posiciona no final da pagina  */
    height: 170px; /* Define o tamanho vertical */
    width: 100%; /* Define o tamanho horizontal */
    display: flex; /* Opção que permite alinhar elementos */
    align-items: center; /* Alinha os elementos verticalmente */
    justify-content: center; /* Centraliza os elementos horizontalmente */
}

footer > img {
    width: 150px; /* Define o tamanho da imagem */
    padding-right: 30px;
}