/* Estilo Geral */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); /* Importa uma fonte sem precisar baixala */

:root {
    --yellow: #FBE80E; /* Adiciona uma variável (nome) para a cor */
    --green: #55AA00;
    --light-green: #72D60F;
    --mostarda: #D3C203;
}

* { /* Caractére que representa estilização para todo o documento */
    padding: 0; /* Deixa o código inteiro com espaçamento de 0px */
    margin: 0; /* Deixa o código inteiro com margem de 0px */
    font-family: "Inter", sans-serif; /* Fonte Inter que foi importada */
}

h1, h2 {
    color: var(--mostarda); /* Cor da fonte com variável */
    font-weight: 600; /* Espessura da fonte */
}

/* CUIDADOS */
.cuidados {
    background-color: #FFFDE1; 
    padding: 40px; /* Espaçamento */
    text-align: center; /* Centraliza o texto */
    border-radius: 25px; /* Arredondamento das bordas */
}

.div-cuidados {
    display: flex; /* Alinhamento flexivel */
    align-items: center; /* Centraliza todos os elementos de forma vertical */
    padding: 100px 20px; /* Espaçamento */
}

.img-cuidados {
    width: 500px; /* Tamanho do elemento */
}

.p-cuidados{
    padding: 10px 25px; /* espaçamento */
    line-height: 20px; /* espaçamento das letras */
}

.txt-limpeza > p, .txt-pq-limpar > p {
    text-align: left; /* centralizar texto */
}

/* CALCULAR CEP */
.container-cep {
    background-color: #D2FFA6;
    border-radius: 25px; /* arredondamento das bordas */
    height: 370px; /* Altura */
    display: flex; /* Alinhamento flexivel */
    justify-content: center; /* centraliza horizontalmente */
    align-items: center; /* centraliza verticalmente */
    flex-direction: column; /* alinha elemento em coluna */
}

.container-cep > p {
    color: var(--light-green);
    font-weight: 700; /* espessura da fonte */
    text-decoration: underline; /* linha em baixo da fonte */
}

.container-cep > .div-cep {
    background-color: white;
    box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.342); /* sombra da fonte */
    border-radius: 25px; /* arredondamento das bordas */
    width: 450px; /* tamanho do elemento */
    height: 130px;/* altura do elemento */
    padding: 25px; /* espaçamento */
    margin: 40px; /* margem */
}

.div-cep > p {
    color: #6A6A6A;
    font-size: 14px; /* tamanho da fonte */
    padding: 18px; /* espaçamento */
    text-align: left; /* alinha o texto na esquerda */
}

.calc-cep {
    display: flex; /* alinhamento flexivel */
    align-items: center; /* alinha o texto no centro */
}

.calc-cep > fieldset {
    width: 70%; /* tamanho do elemento */
    height: 50px; /* altura do elemento */
    text-align: left; /* alinha texto na esquerda */
}

.calc-cep > .btn-cep {
    background-color: var(--light-green);
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.418); /* sombra da fonte */
    font-size: 12px; /* tamanho da fonte */
    font-weight: bolder; /* negrito */
    border-radius: 10px; /* arredondamento das bordas */
    margin-top: 5px; /* margem de cima */
    width: 90px; /* tamanho do elemento */
    height: 40px; /* altura do elemento */
}

.btn-cep:hover {
    background-color: var(--green);
    cursor: pointer; /* elemento clicavel */
}

/* ANTES E DEPOIS */
.antes-depois {
    margin: 70px; /* margem */
}

.antes-depois > p {
    color: var(--light-green);
    font-size: 20px; /* tamanho da fonte */
    font-weight: 700; /* espessura da fonte */
    padding: 0 90px 30px; /* espaçamento */
}

.antes-depois > div {
    display: flex; /* alinhamento flexivel */
    flex-wrap: wrap; /* quebra de linha para elementos */
    justify-content: center; /* centraliza horizontalmente */
}

.antes-depois > div > img{
    max-width: 450px; /* tamanho máximo do elemento */
    padding: 10px; /* espaçamento */
}


/* FORMULÁRIO */
.img-form{
    max-width: 481px; /* tamanho máximo do elemento */
}

.img-form > img{
    max-width: 100%; /* tamanho máximo do elemento */
}

.form-container {
    max-width: 100%; /* tamanho máximo do elemento */
    height: 590px; /* altura do elemento */
    display: flex; /* alinhamento flexivel */
    align-items: center; /* alinhamento vertical */
    justify-content: space-between; /* alinha elementos em cada extremidade  */
    
}

.form-div {
    background-color: var(--yellow);
    width: 100%; /* tamanho do elemento */
    height: 100%; /* altura do elemento */
    display: flex; /* alinhamento flexivel */
    justify-content: center; /* centraliza na horizontal */
    align-items: center; /* centralinha na vertical */
}

form {
    background-color: white;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.24); /* sombra do elemento */
    width: 270px; /* tamanho do elemento */
    height: 370px; /* altura do elemento */
    border-radius: 15px; /* arredondamento das bordas */
    padding: 15px; /* espaçamento */
    
    display: flex; /* alinhamento flexível */
    flex-direction: column; /* elementos em coluna */
    align-items: center; /* centraliza horizontalmente */
}

form > p {
    font-weight: 800; /* espessura da fonte */
}

fieldset {
    font-size: 11px; /* tamanho da fonte */
    width: 60px; /* tamanho do elemento */
    padding: 0 6px 0 15px; /* espaçamento */
    margin: 10px; /* margem */

    border: solid 1.5px #ccc; /* borda do elemento */
    border-radius: 10px; /* arredondamento das bordas */
}

input {
    font-size: 10px; /* tamanho da fonte */
    width: 200px; /* tamanho do elemento */
    padding: 10px; /* espaçamento */
    border: 0; /* esconde a borda */
}

#msg {
    padding-bottom: 100px; /* espaçamento de baixo */
    border: solid 0; /* esconde a borda */
    width: 220px; /* tamanho do elemento */
    font-size: 10px; /* tamanho da fonte */
}

#form-btn {
    background-color: var(--light-green);
    color: white;
    font-size: 13px; /* tamanho da fonte */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.418); /* sombra da fonte */
    padding: 5px; /* espaçamento */
    margin-top: 20px; /* margem de cima */
    width: 150px; /* tamanho do elemento */
    height: 30px; /* altura do elemento */
    border-radius: 5px; /* arredondamento das bordas */
}

#form-btn:hover {
    background-color: var(--green);
    cursor: pointer; /* elemento clicavel */
}



/* RODAPÉ */
footer { 
    font-family: "Inter", sans-serif; /* Estilo da Fonte */
    font-size: 13px; /* Define o tamanho da fonte */
    bottom: 0; /* Posiciona no final da pagina  */
    height: 170px; /* Define o tamanho vertical */
    width: 100%; /* Define o tamanho horizontal */
    display: flex; /* Opção que permite alinhar elementos */
    align-items: center; /* Alinha os elementos verticalmente */
    justify-content: center; /* Centraliza os elementos horizontalmente */
}

footer > img {
    width: 150px; /* Define o tamanho da imagem */
    padding-right: 30px; /* espaçamento da direita */
}